# Secrets
*.key
*.pem
*.env
.env
secrets/
credentials/
passwords.txt
# Données Docker locales
**/postgres_data/
**/grafana_data/
**/loki_data/

# Secrets locaux
.env
*.secret
# Ansible
*.retry

# Dependency Check / cache / rapports temporaires
dependency-check-data/
*.log

# OS / IDE
.DS_Store
.vscode/
.idea/

# Python
__pycache__/
*.pyc

# Sources clonées pour audit uniquement
audit/sources/
